html, body {
  width: 550px;
}
.flex-container {
    display: flex;
    flex-direction: column;
}
.flex-container hr {
    width: 500px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
.header-div {
    width: 550px;
}
.header-div h3 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.settings {
    float: right;
    display: none;
    cursor: pointer;
}
.settings_icon {
    position: relative;
    width: 20px;
    height: 20px;
    right: 25px;
    top: -2px;
    margin-left: -30px;
}
.settings-div {
    display: none;
    width: 550px;
}
.content-div {
    width: 550px;
    margin-top: 10px;
}
.content-div div {
    text-align: center;
    margin-bottom: 10px;
}
.api-key-input {
    width: 350px;
    height: 40px;
    font-size: 18px;
}
.api-key-submit {
    width: 100px;
}
.api-key-submit h4 {
    text-align: center;
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.message {
    display: none;
    width: 550px;
    text-align: center;
}

/*Dashboard*/
.dashboard-div {
    display: none;
    flex-direction: column;
}
.add-new-job {
    width: 500px;
    text-align: center;
    margin-top: 10px;
}
.job-id-input {
    width: 250px;
    font-size: 18px;
}
.job-id-submit {
    width: 100px;
    margin-top: 5px;
}
.job-id-submit h4 {
    text-align: center;
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.remove_job_id {
    color: red;
    cursor: pointer;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2}
th {
  background-color: #424040;
  color: white;
}
.table-container {
    overflow-x: auto;
}
.job-detail-div {
    display: none;
}
.job-detail-div textarea {
    width: 350px;
    height: 100px;
}
.display_job_detail {
    font-weight: bold;
    color: green;
    cursor: pointer;
}
.back_to_dashboard {
    font-weight: bold;
    cursor: pointer;
}
